@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,700);

body {
    background: #e7ecea;
    color: #74777b;
    font-family: 'Raleway', Arial, sans-serif;
}

#navbar {
    margin: 0 0 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#navbar .container ul li {
    text-align: center;
    color: white;
    width: 190px;
    cursor: pointer;
}

#navbar .container ul li::before {
    position: absolute;
    top: 20%;
    right: 0;
    z-index: -1;
    width: 1px;
    height: 60%;
    background: rgba(0, 0, 0, 0.07);
    content: '';
}

.nav > li:focus {
    outline: none;
}


.nav > li > a {
    color: #2CC185;
    text-decoration: none;
    outline: none;
    font-weight: bold;
    padding: 25px 0;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.nav > li > a:hover {
    background-color: transparent;
    color: white;
}

.nav > li > a:focus {
    background-color: transparent;
}

#navbar .container ul li:last-child a {
    border: none;
}

#mainNav > .active a {
    color: white !important;
}

#mainNav > .active a::after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

#mainNav > li > a::after {
/*a::after {*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: calc(100% + 1px);
    border: 1px solid #2CC185;
    background: #2CC185;
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

i {
    font-size: 35px;
}

.menuspan {
    display: block;
    margin-top: 5px;
    font-size: 20px;
}

#register {
    cursor: pointer;
}

/*login and register forms style*/
.panel-login {
    border-color: #ccc;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}

.panel-login > .panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align: center;
}

.panel-login > .panel-heading a {
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-login > .panel-heading a.active {
    color: #2CC185;
}

.panel-login > .panel-heading hr {
    margin-top: 10px;
    margin-bottom: 0;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

.panel-login input[type="text"], .panel-login input[type="email"], .panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-login input:hover,
.panel-login input:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}

.btn-login {
    background-color: #2CC185;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: bold;
    padding: 14px 0;
    text-transform: uppercase;
}

.btn-login:hover,
.btn-login:focus {
    color: #fff;
}

.btn-register {
    background-color: #2CC185;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: bold;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1CB94A;
}

.btn-register:hover,
.btn-register:focus {
    color: #fff;
}

.imageContainer {
    background-color: rgba(204, 204, 204, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 10px;
    width: 31%;
    display: inline-block;
    /*float: left;*/
    margin: 10px;
    /*vertical-align: top;*/
    vertical-align: middle;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 25px 10px -15px rgba(0,0,0,0.05);
}

.imageContainer > button {
    margin: 3px;
}

.pictureTitle {
    text-align: center;
}

.image {
    max-width: 100%;
    height: auto;
    padding: 10px;
}

/*.rating {*/

/*}*/

/*.pictureDescription {*/

/*}*/

/*.postedBy {*/

/*}*/

/*.download {*/

/*}*/

textarea {
    resize: none;
}

#comment {
    width: 100%;
}

@-ms-viewport{
	width: device-width;
}

@media all and (max-width: 1200px) {
	#navbar .container {
		width: 600px;
	}
}

@media all and (max-width: 770px) {
	#navbar .container ul li {
		float: left;
	}
	.navbar-nav {
	  margin: 0 0;
	}
}
@media all and (max-width: 600px) {
	#navbar .container ul li {
		float: left;
	}
	#navbar .container {
		width: 500px;
	}
	.nav {
		padding-left: 40px;
	}
}

@media all and (max-width: 480px) {
	.nav {
		padding-left: 10px;
	}
}