<div class="col-md-5 col-md-offset-4">
    <div class="form-group">
        <select id="select" class="selectpicker">
            <option value="" disabled selected>Please choose a category...</option>
            <option value="Animals">Animals</option>
            <option value="Sports">Sports</option>
            <option value="Boobies">Boobies</option>
            <option value="Cars">Cars</option>
            <option value="Other">Other</option>
        </select>
    </div>
</div>

<div id="container"></div>

<script>
    $('.selectpicker').selectpicker();
</script>