<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-login">
        <div class="panel panel-heading">
            <a class="active" id="login-form-link">Edit Profile</a>
        </div>
        <div class="panel-body">
            <form id="update-profile-form" method="post" role="form">
                <div class="form-group">
                    <input type="email" name="email" id="email" tabindex="1" class="form-control"
                           placeholder="Enter New Email Address" value="">
                </div>
                <div class="form-group">
                    <input type="password" name="password" id="password" tabindex="2"
                           class="form-control" placeholder="Enter New Password">
                </div>
                <div class="form-group">
                    <input type="password" name="repeat-password" id="confirm-password" tabindex="2"
                           class="form-control" placeholder="Confirm New Password">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <button id="updateButton" type="button" class="form-control btn btn-register">Update Profile
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>