<!--<label for="file">Upload: </label>-->
<input id="file" type="file"/>
<label for="title">Picture Title</label>
<input id="title" type="text"/>
<label for="caption">Caption</label>
<input id="caption" type="text"/>
<select id="category">
    <option value="animals">Animals</option>
    <option value="sports">Sports</option>
    <option value="boobies">Boobies</option>
    <option value="cars">Cars</option>
    <option value="other">Other</option>
</select>
<button id="upload">Upload</button>
<!--<button id="getPics">getPics</button>-->
