<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-login">
        <div class="panel panel-heading">
            <a class="active">Upload Image</a>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="fileUpload btn btn-register">
                    <span>Choose image</span>
                    <input type="file" class="upload" id="file"/>
                </div>
            </div>
            <!--<label for="title">Picture Title</label>-->
            <div class="form-group">
                <input class="form-control" id="title" type="text" placeholder="Title"/>
            </div>
            <!--<label for="caption">Caption</label>-->
            <div class="form-group">
                <input class="form-control" id="caption" type="text" placeholder="Caption"/>
            </div>

            <div class="form-group">
                <label for="category">Category:</label>
                <select id="category" class="selectpicker show-tick">
                    <option value="yNxnzAoOOB">Animals</option>
                    <option value="mCWi6KV0mn">Sports</option>
                    <option value="Yvccew375o">Boobies</option>
                    <option value="KVj014dh7Q">Cars</option>
                    <option value="Dt9vwu4sIM">Other</option>
                </select>
            </div>
            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-3">
                    <button id="upload" class="form-control btn btn-register">Upload</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('.selectpicker').selectpicker();
</script>
