<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head lang="en">-->
    <!--<meta charset="UTF-8">-->
    <!--<title></title>-->
<!--</head>-->
<!--<body>-->
    <!--<section>-->
        <!--<form>-->
            <!--<textarea id="comment"></textarea>-->
            <!--/<button type="button" id="add-comment">Add Comment</button>-->
            <!--<button type="button" id="delete-comment">Remove Comment<button>-->
            <!--<button type="button" id="get-comment">Get Comments</button>-->
        <!--</form>-->
    <!--</section>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
    <!--<script src="../models/user-model.js"></script>-->
    <!--<script src="..models/comment-model.js"></script>-->
    <!--<script src="../controller/user-controller.js"></script>-->
    <!--<script src="../controller/comment-controller.js"></script>-->
<!--</body>-->
<!--</html>-->