<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<script src="../jquery-1.11.2.min.js"></script>
<script src="../controller/user-controller.js"></script>
<script src="../models/user-model.js"></script>
    <section>
        <form method="post">
            <input type="text" name="username"/>
            <input type="password" name="password"/>
            <input type="submit" value="Login" disabled onclick="return app.controller.userLogin()"/>
        </form>
    </section>
</body>
</html>